<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
					    http://www.springframework.org/schema/tx 
    					http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
    					http://www.springframework.org/schema/aop
    					http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
    					http://www.springframework.org/schema/jee
					    http://www.springframework.org/schema/jee/spring-jee-4.1.xsd
					    http://www.springframework.org/schema/data/jpa
     					http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

	<jee:jndi-lookup id="dataSource" jndi-name="${bubble.datasource}"></jee:jndi-lookup>


	<bean id="redisDataSource"
		class="net.bubble.persistence.framework.redis.datasource.RedisDataSource">
		<property name="maxTotal" value="${redis.maxTotal}"></property>
		<property name="maxIdle" value="${redis.maxIdle}"></property>
		<property name="maxWaitMillis" value="${redis.maxWaitMillis}"></property>
		<property name="minIdle" value="${redis.minIdle}"></property>
		<property name="testOnBorrow" value="${redis.testOnBorrow}"></property>

		<property name="hostName" value="${redis.hostName}"></property>
		<property name="port" value="${redis.port}"></property>
		<property name="timeOut" value="${redis.timeOut}"></property>
		<property name="password" value="${redis.password}"></property>
		<!-- 非sentinel环境下注释masterName和sentinelNodes配置 -->
		<property name="masterName" value="${redis.masterName}"></property>
		<property name="sentinelNodes">
			<set>
				<value>${redis.sentinel.1}</value>
				<value>${redis.sentinel.2}</value>
				<value>${redis.sentinel.3}</value>
			</set>
		</property>
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
</beans>